@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}
html {height:100%}

body{
     width: 100%;
    height: 100%;
     background-color:#66cc66;
     min-width: 50px;
      color:#000000;
     font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1em;
  line-height: 135%;
  float:left;
}
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
.clear{clear: both;}
a{
  color:#993300;
  text-decoration: none;
-moz-transition: none: all.6s ease;
-o-transition: none: all.6s ease;
-ms-transition: none: all.6s ease;
}
a:hover {
color: #0000ff
}
a, a:hover {
-webkit-transition: all.6s ease;
-moz-transition: none: all.6s ease;
-o-transition: none: all.6s ease;
-ms-transition: none: all.6s ease;
}
    .clear {
    clear:both;
  }

hr{
  display: block;
  border: 0;
  height: 1px;
  border-top: 1px solid #ccc;
  padding: 0;
  margin-bottom: 10px;
}

 /*стили для шапки*/          
header{
height:5%;
float:left;
padding:1%;
background-color:#ffcc66;
margin-bottom: 10px;
}
header,footer{
  width: 100%;
  background: #999999
  min-height: 50px;
  float: left;
}
#logo {
	width: 40%;
	float:left;
	font-family: Segoe Print;
}
#logo span {
	color: #003300;
}
#menuHead {
	width: 60%;
	float:left;
}
#contact{
font-size: 1.5em;
font-family: Comic Sans MS, sans-serif;
margin-left: 20px;
}
  input[type=search].field{
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
  }
 input[type=search].field:focus{border: 2px solid #f58b8d;}


/* стили для всего документа траляля*/
#war {
	width: 80%;
	margin-left: 10%;
	float: left;
}
/* стили для левой колонки */
#war #leftCol {
  width: 70%;
  margin-right: 10%;
  height: 100%;
  float: left;
}
#war #leftCol #bigArticle {
  width: 78%;
  margin-left: 10%;
  background-color: #66cc66;
  padding:1%;
  float: left;
}
#war #leftCol #bigArticle img, #war #leftCol .article img {
 width: 100%;
 float: left;
 margin-bottom: 10px;
}

#war #leftCol #bigArticle p, #war #leftCol .article p {
  width: 90%;
  margin-left: 5%;
}
#war #leftCol #bigArticle h2, #war #leftCol .article h2 {
  font-weight: normal;
  font-size: 1.4em;
  color: #1a5276;
  font-family: Comic Sans MS, sans-serif;
}
#war #leftCol #bigArticle h1, #war #leftCol .article h1 {
  font-weight: normal;
  font-size: 1.6em;
  color: #3300ff;
  font-family: Comic Sans MS, sans-serif;
}
#war #leftCol #bigArticle div.more, #war #leftCol .article div.more {
  padding: 5px;
  border-radius: 5px;
  background-color: #66cc66;
  color: #000000;
  width: auto;
  margin-top: 5px;
}
#war #leftCol #bigArticle div.more:hover, #war #leftCol .article div.more:hover {
  background-color:#cc99ff;
}
#war #leftCol #bigArticle video {
 height: 100%;
width: 100%;
}
#war #leftCol .article{
  width: 40%;
  margin-left: 5%;
  background-color: #66cc66;
  padding: 1%;
  float: left;
}

/* стили для правой колонки*/

#war #rightCol {
	width: 20%;
 height: 100px;
 float:left; 
}
#war #rightCol .banner {
width: 100%;
float: left;
margin-bottom: 20px;
border: 2px solid silver;
box-sizing:  border-box;
}


/*стили для Footer*/
footer{
width: 100%;
float: left;
padding: 1%;
background: #66cc66;
border-top: 2px solid silver;
margin-top: none;
}
footer #social {
float: right;
width: 50%;
}



#page-wrap:after{
  content:"";
  display: block;
}
footer,#page-wrap:after {height: 10px}

#page-wrap{
  min-height: 94%;
  margin-bottom: -10px;
}

footer #social img {
  width: 30px;
height: 30px;
float: left;
margin-right: 5px;
}


footer #rights {
float: right;
width: 50%;
text-align: left;
font-size: 1.1em;
}

#menu{
  color: #666;
  font-family: Comic Sans MS, sans-serif;
  font-size: 1.7em;
 
}

#menu hr {
  width: 500px;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;

 }
#menuHrefs a{
  padding: 2px 10px;
  border-radius: 30px;
  margin-right: 45px;
  color: #626262;
}
#menuHrefs a:hover {
  background-color: #ccffff;

}

#disqus_thread {
    width: 100%;
    margin-right: 70%;
    margin-top: 50%;
    float: left;
    height: 100%;
  }